In [1]:
import urllib.request
import os.path
import pathlib
import pandas as pd
import numpy as np

from nameparser import HumanName
import humanize


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

In [2]:
if not os.path.isfile("2021_Contributions.csv"):
    url = "https://www.nyccfb.info/DataLibrary/2021_Contributions.csv"
    urllib.request.urlretrieve(url, "2021_Contributions.csv")

In [3]:
donations = pd.read_csv("2021_Contributions.csv", header=0, dtype={ 'NAME': str, 'STRNO': str, 'STRNAME': str, 'APARTMENT': str , 'INTZIP': str, 'EXEMPTCD': str})

In [4]:
donations

,ELECTION,OFFICECD,RECIPID,CANCLASS,RECIPNAME,COMMITTEE,FILING,SCHEDULE,PAGENO,SEQUENCENO,REFNO,DATE,REFUNDDATE,NAME,C_CODE,STRNO,STRNAME,APARTMENT,BOROUGHCD,CITY,STATE,ZIP,OCCUPATION,EMPNAME,EMPSTRNO,EMPSTRNAME,EMPCITY,EMPSTATE,AMNT,MATCHAMNT,PREVAMNT,PAY_METHOD,INTERMNO,INTERMNAME,INTSTRNO,INTSTRNM,INTAPTNO,INTCITY,INTST,INTZIP,INTEMPNAME,INTEMPSTNO,INTEMPSTNM,INTEMPCITY,INTEMPST,INTOCCUPA,PURPOSECD,EXEMPTCD,ADJTYPECD,RR_IND,SEG_IND,INT_C_CODE
0,2021,1,2563,P,"Tirschwell, Sara A",H,7,ABC,NaN,NaN,R0000209,3/6/2021,NaN,"""Dombrowski,"", Ray",IND,NaN,NaN,NaN,NaN,Haverford,PA,19041,Turnaround Manager,Alvarez & Marsal,NaN,600 Madison Avenue,New York,NY,2000.0,0,0.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
1,2021,55,2345,P,"Camarena, Rodrigo G",H,6,ABC,NaN,NaN,R0001664,12/17/2020,NaN,"(Dougherty) LoBianco, Kelly",IND,NaN,NaN,NaN,Z,Los Angeles,CA,90068,Chief Program Officer,The HOPE Program,1,Smith Street,Brooklyn,NY,38.0,0,0.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
2,2021,55,2414,P,"Low, Jenny L",H,6,ABC,NaN,NaN,R0000080,9/5/2020,NaN,"(Eng) Lawton, Linnit",IND,NaN,NaN,NaN,K,Brooklyn,NY,11201,Human Resources,Hamilton Madison House,253,South Street,New York,NY,25.0,25,0.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
3,2021,55,283,P,"Gennaro, James F",M,7,ABC,NaN,NaN,R0002295,3/3/2021,NaN,"(Orlow) Husarsky, Miriam",IND,NaN,NaN,NaN,Q,Richmond Hill,NY,11418,Speech Therapist,NYC Dept of Education,63-55,102nd street,Rego Park,NY,175.0,175,0.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
4,2021,55,2454,P,"Boghosian Murphy, Leslie",H,6,ABC,NaN,NaN,R0000171,10/19/2020,NaN,"(Zimmerman)Shaich, Carol",IND,NaN,NaN,NaN,M,Ny,NY,10027,Retired,NaN,NaN,NaN,NaN,NaN,25.0,25,0.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285576,2021,11,2546,P,"Yang, Andrew",H,7,ABC,NaN,NaN,R0029434,1/13/2021,NaN,"Zymaris, Mai",IND,NaN,NaN,NaN,Z,BRAINTREE,MA,2184,Attorney,Morrison & Foerster,428,John Mahar Hwy Unit 207,BRAINTREE,MA,50.0,0,0.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
285577,2021,11,2393,P,"Wiley, Maya D",H,7,ABC,NaN,NaN,R0034934,2/13/2021,NaN,"Zysermann, Noemie",IND,NaN,NaN,NaN,M,New York,NY,10023,Consultant,Self Employed,266,W 73rd st,New York,NY,25.0,25,0.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
285578,2021,33,1559,P,"Johnson, Corey D",L,3,ABC,NaN,NaN,R0016683,7/11/2019,NaN,"Zyskowska, Celina",IND,NaN,NaN,NaN,Q,Kew Gardens,NY,11415,Accounting,Commodore Construction,602,South 3rd Avenue,Mt Vernon,NY,250.0,250,0.0,2,16.0,"Oneill, Brendan",NaN,NaN,NaN,Long Island City,NY,11104,Commodore Construction,602,South 3rd Avenue,Mt Vernon,NY,Labor Manager,NaN,NaN,NaN,N,N,IND
285579,2021,11,1545,P,"Adams, Eric L",L,1,ABC,NaN,NaN,R0003574,6/12/2018,NaN,"Zyskowski, Joseph",IND,NaN,NaN,NaN,Q,Middle Village,NY,11379,Owner,K Construction,65-58,Admiral Avenue,Middle Village,NY,5000.0,250,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN
285580,2021,11,1545,P,"Adams, Eric L",L,4,M,NaN,NaN,R0016156,6/12/2018,10/14/2019,"Zyskowski, Joseph",IND,NaN,NaN,NaN,Q,Middle Village,NY,11379,NaN,NaN,NaN,NaN,NaN,NaN,-3000.0,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,N,N,NaN

In [5]:
major_candidates = [
    'Adams, Eric L',
    'Donovan, Shaun',
    'Garcia, Kathryn A',
    'McGuire, Raymond J',
    'Morales, Dianne',
    'Stringer, Scott M',
    'Wiley, Maya D',
    'Yang, Andrew'
]

mayor_candidates_names = donations[donations['OFFICECD'].isin([1, 11])]['RECIPNAME'].unique()
candidate_last_names = dict(zip(mayor_candidates_names, map(lambda s: HumanName(s).last, mayor_candidates_names)))
candidate_last_names.values()

dict_values(['Tirschwell', 'Wiley', 'Yang', 'Morales', 'Stringer', 'Cullen', 'Garcia', 'McGuire', 'Donovan', 'Menchaca', 'Adams', 'Diaz', 'Pepitone', 'Taylor', 'Sutton', 'Rose', 'Mateo', 'Guimaraes', 'Chang', 'Sliwa', 'Wright', 'Emilien', 'Filipchenko', 'Laurel-Smith', 'Foldenauer', 'Kavovit', 'Francis', 'Prince', 'Nunez', 'Kaplan', 'Oremland', 'Miles', 'Reaves', 'Coenen', 'Bunea', 'Pinto', 'Downs', 'Flores', 'Fitzgerald', 'Krietchman', 'Nampiaparampil', "O'Hagan", 'Seidman', 'Seely'])

In [6]:
# mayor_donations = donations[ (donations['OFFICECD'].isin([1, 11]) & donations[donations["RECIPNAME"].isin(major_candidates) & donations["SCHEDULE"].eq("ABC") ]
mayor_donations = donations[ donations['OFFICECD'].isin([1, 11]) & donations["RECIPNAME"].isin(major_candidates) & donations["SCHEDULE"].eq("ABC") ].copy()

# formate employer

def employed_format(s):
    if not isinstance(s, str):
        return s
    if s.lower() == 'not employed' or s.lower() == 'unemployed':
        return 'Not Employed'
    elif  s.lower() in ['self-employed', 'self employed', 'self', 'Self Employee']:
        return 'Self Employed'
    elif s.lower() == 'none':
        return 'None'
    elif s.lower() in ['homemaker', 'housewife']:
        return 'Homemaker'
    elif s.lower() in ['Citigroup', 'citi']:
        return 'Citigroup'
    elif 'paul weiss' in s.lower():
        return 'Paul Weiss'
    elif ('Skadden Arps' in s.lower() or s == 'Skadden'):
        return 'Skadden Arps'
    elif 'Rosen & Katz' in s or s == 'Wachtell Lipton':
        return 'Wachtell, Lipton, Rosen & Katz'
    else:
        return s


mayor_donations['EMPNAME'] = mayor_donations['EMPNAME'].apply(employed_format)

In [7]:
len(mayor_donations)
1500/len(mayor_donations) * 100

1.8236416908805757

In [8]:
mayor_donations.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82253 entries, 24 to 285579
Data columns (total 52 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ELECTION    82253 non-null  int64
 1   OFFICECD    82253 non-null  int64
 2   RECIPID     82253 non-null  object
 3   CANCLASS    82253 non-null  object
 4   RECIPNAME   82253 non-null  object
 5   COMMITTEE   82253 non-null  object
 6   FILING      82253 non-null  int64
 7   SCHEDULE    82253 non-null  object
 8   PAGENO      0 non-null      float64
 9   SEQUENCENO  0 non-null      float64
 10  REFNO       82253 non-null  object
 11  DATE        82253 non-null  object
 12  REFUNDDATE  0 non-null      object
 13  NAME        82253 non-null  object
 14  C_CODE      82253 non-null  object
 15  STRNO       0 non-null      object
 16  STRNAME     0 non-null      object
 17  APARTMENT   0 non-null      object
 18  BOROUGHCD   82172 non-null  object
 19  CITY        82179 non-null  object
 20  STATE       82061 non-null  object
 21  ZIP         82137 non-null  object
 22  OCCUPATION  79658 non-null  object
 23  EMPNAME     80547 non-null  object
 24  EMPSTRNO    62982 non-null  object
 25  EMPSTRNAME  67278 non-null  object
 26  EMPCITY     67526 non-null  object
 27  EMPSTATE    67378 non-null  object
 28  AMNT        82253 non-null  float64
 29  MATCHAMNT   82253 non-null  int64
 30  PREVAMNT    82253 non-null  float64
 31  PAY_METHOD  82253 non-null  int64
 32  INTERMNO    1027 non-null   float64
 33  INTERMNAME  1027 non-null   object
 34  INTSTRNO    0 non-null      float64
 35  INTSTRNM    0 non-null      float64
 36  INTAPTNO    0 non-null      float64
 37  INTCITY     1027 non-null   object
 38  INTST       1027 non-null   object
 39  INTZIP      1027 non-null   object
 40  INTEMPNAME  1006 non-null   object
 41  INTEMPSTNO  869 non-null    object
 42  INTEMPSTNM  895 non-null    object
 43  INTEMPCITY  916 non-null    object
 44  INTEMPST    895 non-null    object
 45  INTOCCUPA   983 non-null    object
 46  PURPOSECD   0 non-null      object
 47  EXEMPTCD    0 non-null      object
 48  ADJTYPECD   0 non-null      float64
 49  RR_IND      82253 non-null  object
 50  SEG_IND     82253 non-null  object
 51  INT_C_CODE  1027 non-null   object
dtypes: float64(9), int64(5), object(38)
memory usage: 33.3+ MB

In [9]:
mayor_donations.NAME.value_counts()

Koo, Julia           53
Jordan, Tyron        45
Warren, Roxanne      44
Sherrill, Kenneth    36
Yourke, George       32
                     ..
Kim, Summer           1
Abel, Valere          1
Breakley, Tia         1
Alpert, Ellen         1
Egan, Erin            1
Name: NAME, Length: 55702, dtype: int64

In [10]:
mayor_donations['C_CODE'].unique()

array(['PCOMP', 'CORP', 'IND', 'CAN', 'FAM', 'OTHR', 'PCOMZ', 'EMPO',
       'LLC'], dtype=object)

In [11]:
def parse_name(s):
    names = []
    
    human_name = HumanName(s)
    
    names.append(f"{human_name.last}, {human_name.first}")
    
    if human_name.suffix:
        names.append(f"{human_name.last} {human_name.suffix}, {human_name.first}")
    
    if human_name.middle:
        names.append(f"{human_name.last}, {human_name.first} {human_name.middle}")
    
        if len(human_name.middle) > 1:
            names.append(f"{human_name.last}, {human_name.first} {human_name.middle[0]}")
    
    return names


def name_variations_from_file(file):
    variations = []
    
    with open(file, 'r') as f:
        for line in f:
            for variation in parse_name(line):
                variations.append(variation.upper())

    return variations
                
real_estate_names_from_littlesis = name_variations_from_file('./real_estate_names.txt')
worst_landlords = name_variations_from_file('./worst_landlords.txt')

In [12]:
mayor_donations['realestate_littlesis'] = mayor_donations['NAME'].str.upper().isin(real_estate_names_from_littlesis)
mayor_donations['worst_landlord'] = mayor_donations['NAME'].str.upper().isin(worst_landlords)
mayor_donations['works_in_realestate'] = mayor_donations['OCCUPATION'].str.contains(r'(?i).*REAL ESTATE.*')

In [13]:
flagged_donations = mayor_donations[ (mayor_donations['realestate_littlesis'] | mayor_donations['worst_landlord'] |  mayor_donations['works_in_realestate']  | ( mayor_donations['C_CODE'] == "LLC"))]
flagged_donations_major_candidates = flagged_donations[flagged_donations["RECIPNAME"].isin(major_candidates)]

columns = ['ELECTION', 'RECIPID', 'RECIPNAME', 'COMMITTEE', 'NAME', 'AMNT', 'DATE', 'REFUNDDATE', 'CITY', 'STATE', 'ZIP', 'OCCUPATION', 'EMPNAME', 'C_CODE', 'realestate_littlesis', 'worst_landlord', 'works_in_realestate']

flagged_donations.sort_values(['RECIPNAME', 'DATE'])[columns]

,ELECTION,RECIPID,RECIPNAME,COMMITTEE,NAME,AMNT,DATE,REFUNDDATE,CITY,STATE,ZIP,OCCUPATION,EMPNAME,C_CODE,realestate_littlesis,worst_landlord,works_in_realestate
49376,2021,1545,"Adams, Eric L",L,"Cohen, Adir",5100.0,1/10/2019,NaN,Brooklyn,NY,11230,Real Estate,Renaissance Realty Group,IND,False,False,True
96693,2021,1545,"Adams, Eric L",L,"Gottlieb, Israel",1000.0,1/10/2019,NaN,Lakewood Township,NJ,8701,Real estate investor,Self Employed,IND,False,False,True
164427,2021,1545,"Adams, Eric L",L,"Matheus, Donald",500.0,1/10/2019,NaN,Brooklyn,NY,11238,Real estate,Albatross group,IND,False,False,True
249109,2021,1545,"Adams, Eric L",L,"Strulovitch, Baila",2000.0,1/10/2019,NaN,Brooklyn,NY,11205,Real Estate,Self Employee,IND,False,False,True
148543,2021,1545,"Adams, Eric L",L,"Levy, Danny",100.0,1/10/2020,NaN,Brooklyn,NY,11230,Real estate,Self Employed,IND,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6634,2021,2546,"Yang, Andrew",H,"Alpert, Joseph",1000.0,3/9/2021,NaN,Fort Lee,NJ,7024,Real Estate,Self Employed,IND,False,False,True
19718,2021,2546,"Yang, Andrew",H,"Bellini, Arthur",2000.0,3/9/2021,NaN,New York,NY,10012,Real Estate,Black Bear Asset Management,IND,False,False,True
43526,2021,2546,"Yang, Andrew",H,"Chen, Cindy",10.0,3/9/2021,NaN,Brooklyn,NY,11201,Real estate agent,Compass,IND,False,False,True
85071,2021,2546,"Yang, Andrew",H,"Friedman, Joseph",250.0,3/9/2021,NaN,Brooklyn,NY,11210,Real estate,Self Employed,IND,False,False,True
213042,2021,2546,"Yang, Andrew",H,"Rich, Thomas",1000.0,3/9/2021,NaN,Stamford,CT,6901,Real Estate,F D Rich,IND,False,False,True

In [14]:
flagged_donations.sort_values(['RECIPNAME', 'DATE']).to_csv('flagged_donations.csv')

In [15]:
def to_money(i):
 return "$" + humanize.intcomma(round(i))

def to_person_name(s):
    return str(HumanName(s))

In [16]:
total_amount_recieved = mayor_donations[["RECIPNAME", "AMNT"]].groupby("RECIPNAME").sum().sort_values(by="AMNT", ascending=False)
total_amount_recieved["AMNT"]  = total_amount_recieved["AMNT"].apply(to_money)
total_amount_recieved = total_amount_recieved.rename_axis('Candidates').rename(columns={'AMNT': 'Amount'})
total_amount_recieved

                        Amount
Candidates
McGuire, Raymond J  $7,645,510
Adams, Eric L       $3,807,982
Stringer, Scott M   $2,555,446
Donovan, Shaun      $2,320,507
Yang, Andrew        $2,174,180
Wiley, Maya D       $1,057,497
Garcia, Kathryn A     $586,578
Morales, Dianne       $562,751

In [17]:
def largest_donors_per_candidate(donations, limit=15):
    agg = donations[["RECIPNAME", "AMNT", "NAME", "EMPNAME"]].groupby(["RECIPNAME", "NAME"]).agg({'AMNT': sum, 'EMPNAME': lambda s: s.unique() }) # .sort_values(by='AMNT', ascending=False) # .groupby(level=0, group_keys=False).head(20) # .reset_index() # ort_values(by='AMNT')  # .groupby(level=0, group_keys=False).apply(lambda x: x.sort_values(('AMNT', 'sum'), ascending=False))
        
    
    return agg['AMNT'].groupby('RECIPNAME', group_keys=False).apply(lambda x: x.sort_values(ascending=False).head(limit).apply(to_money)).to_frame()

In [18]:
largest_donors_per_candidate(mayor_donations)

                                                   AMNT
RECIPNAME          NAME
Adams, Eric L      Bensusan, Danny              $12,100
                   Waisman, Shai                $10,200
                   Guzel, Murat                 $10,100
                   Boutross, Diana              $10,000
                   Singh, Navdeep               $10,000
                   Serova, Daria                $10,000
                   Bartlett, Gregory             $7,600
                   Akcetin, Mehmet               $7,000
                   David, Emanuel                $6,600
                   Cerchione, Gregory            $6,000
                   Razi, Sami Uddin              $6,000
                   Basusta, Yusuf                $5,500
                   Daneshvar, Michelle           $5,350
                   engelbrecht, Kate             $5,100
                   Belt, Antonia                 $5,100
Donovan, Shaun     Donovan, Shaun               $19,100
                   Blumenstein, Ruth            $15,300
                   Briganti, Stephen            $10,200
                   Zabar, Eli                   $10,200
                   Nolen, Eliot                 $10,200
                   Rockefeller, David           $10,200
                   Fredericks, Devon            $10,200
                   Bingham, Clara               $10,200
                   Goodman, Sara                $10,150
                   Niejelow, Alexander           $8,100
                   Hickenlooper, Robin           $8,000
                   Whang, John                   $6,100
                   Meyer, Audrey                 $5,600
                   Werner, Zachary               $5,600
                   Donovan, Lucas                $5,450
Garcia, Kathryn A  Smith, Daniel                 $2,250
                   sando, vicki                  $2,135
                   Hughes, Chris                 $2,000
                   Berardi, Eugene               $2,000
                   Wilson, Frederick             $2,000
                   Hansen, Monika                $2,000
                   Glazer, Elizabeth             $2,000
                   Wachsberger, Chaim            $2,000
                   Wilson, Joanne                $2,000
                   Kerr, Zachary                 $2,000
                   Kelly, Philip                 $2,000
                   MacArthur, Andrew             $2,000
                   Russo, Michael                $2,000
                   Uniformed Sanitation Chiefs   $2,000
                   Lettieri, Greg                $2,000
McGuire, Raymond J Williams-Isom, Anne          $15,300
                   Rubin, Robert                $10,200
                   Tisch, James                 $10,200
                   Lutnick, Allison             $10,200
                   Gerson, Mark                 $10,200
                   Rose, Joe                    $10,200
                   Abramson, Carrie             $10,200
                   Fuller, Vicki                $10,200
                   Adjmi, Marcus                $10,200
                   Ross, Kara                   $10,200
                   Chenault, Kenneth            $10,200
                   Atkins, Peter                $10,200
                   Wolfe, Lisa                  $10,200
                   Schnell, Paul                $10,200
                   Kempner, Michael             $10,100
Morales, Dianne    Weinberg, Jason               $6,000
                   momeyer, alan                 $2,100
                   Little, Keith                 $2,100
                   Shavers, Frances              $2,030
                   Murray, Brian                 $2,000
                   Kovner, Katherine             $2,000
                   Murray, Edward                $2,000
                   Schnapper, Simeon             $2,000
                   Wainright, Hannah             $2,000
                   Johnson, William              $2,000
                   weinberg, fred                $2,000
                   Sander, Elizabeth             $1,990
                   Weiss, Marina                 $1,900
                   Beltran, Edwin                $1,750
                   NIEVES, LISETTE               $1,625
Stringer, Scott M  Guenther, Diane A            $10,200
                   Klein, John S                $10,100
                   Redhead, Fabian               $9,900
                   Quinlan, Robert               $7,900
                   Zeckendorf, Arthur            $7,500
                   Cohen, Steven                 $5,450
                   Gelman, Audrey                $5,450
                   Sinensky, Michael             $5,350
                   Mehiel, Karen                 $5,350
                   Koeppel, Howard               $5,200
                   Moore, Judith                 $5,130
                   Yoon, Charles                 $5,100
                   Landau, Rachael               $5,100
                   Muss, Jessica                 $5,100
                   Maloney, Kevin                $5,100
Wiley, Maya D      Essex, Andrew                 $4,100
                   Carter, Zachary               $4,000
                   Wang, Elizabeth               $3,500
                   Pinderhughes, Dianne          $3,150
                   Bluhdorn, Dominique           $2,750
                   Tamagni, Jordan               $2,500
                   Winslow, Barbara              $2,400
                   Hershenov, Eileen             $2,250
                   Leif, Carol                   $2,250
                   Messing, Debra                $2,250
                   Johnson, Stan                 $2,250
                   Lee, Mary                     $2,010
                   Lupo, Barbara                 $2,000
                   Austin, Magalie               $2,000
                   Lynton, Michael               $2,000
Yang, Andrew       Koo, Julia                    $8,877
                   Hu, Jordan                    $4,000
                   DiCristo, Aurelia             $4,000
                   Nguyen, Kevin                 $4,000
                   Emerson, Holly                $4,000
                   Sun, Yeren                    $4,000
                   Diaco, Anthony                $4,000
                   Bergman, Barry                $4,000
                   Cornick, Kenneth              $4,000
                   Lai, Chao Cheng               $3,750
                   Horowitz, Jaime               $3,505
                   rong, hao                     $3,250
                   Livingston, Philip            $3,200
                   Belsky, Scott                 $3,000
                   Chen, Johnson                 $2,800

In [19]:
largest_donors_per_candidate(mayor_donations, limit=10  )

                                            AMNT
RECIPNAME          NAME
Adams, Eric L      Bensusan, Danny       $12,100
                   Waisman, Shai         $10,200
                   Guzel, Murat          $10,100
                   Boutross, Diana       $10,000
                   Singh, Navdeep        $10,000
                   Serova, Daria         $10,000
                   Bartlett, Gregory      $7,600
                   Akcetin, Mehmet        $7,000
                   David, Emanuel         $6,600
                   Cerchione, Gregory     $6,000
Donovan, Shaun     Donovan, Shaun        $19,100
                   Blumenstein, Ruth     $15,300
                   Briganti, Stephen     $10,200
                   Zabar, Eli            $10,200
                   Nolen, Eliot          $10,200
                   Rockefeller, David    $10,200
                   Fredericks, Devon     $10,200
                   Bingham, Clara        $10,200
                   Goodman, Sara         $10,150
                   Niejelow, Alexander    $8,100
Garcia, Kathryn A  Smith, Daniel          $2,250
                   sando, vicki           $2,135
                   Hughes, Chris          $2,000
                   Berardi, Eugene        $2,000
                   Wilson, Frederick      $2,000
                   Hansen, Monika         $2,000
                   Glazer, Elizabeth      $2,000
                   Wachsberger, Chaim     $2,000
                   Wilson, Joanne         $2,000
                   Kerr, Zachary          $2,000
McGuire, Raymond J Williams-Isom, Anne   $15,300
                   Rubin, Robert         $10,200
                   Tisch, James          $10,200
                   Lutnick, Allison      $10,200
                   Gerson, Mark          $10,200
                   Rose, Joe             $10,200
                   Abramson, Carrie      $10,200
                   Fuller, Vicki         $10,200
                   Adjmi, Marcus         $10,200
                   Ross, Kara            $10,200
Morales, Dianne    Weinberg, Jason        $6,000
                   momeyer, alan          $2,100
                   Little, Keith          $2,100
                   Shavers, Frances       $2,030
                   Murray, Brian          $2,000
                   Kovner, Katherine      $2,000
                   Murray, Edward         $2,000
                   Schnapper, Simeon      $2,000
                   Wainright, Hannah      $2,000
                   Johnson, William       $2,000
Stringer, Scott M  Guenther, Diane A     $10,200
                   Klein, John S         $10,100
                   Redhead, Fabian        $9,900
                   Quinlan, Robert        $7,900
                   Zeckendorf, Arthur     $7,500
                   Cohen, Steven          $5,450
                   Gelman, Audrey         $5,450
                   Sinensky, Michael      $5,350
                   Mehiel, Karen          $5,350
                   Koeppel, Howard        $5,200
Wiley, Maya D      Essex, Andrew          $4,100
                   Carter, Zachary        $4,000
                   Wang, Elizabeth        $3,500
                   Pinderhughes, Dianne   $3,150
                   Bluhdorn, Dominique    $2,750
                   Tamagni, Jordan        $2,500
                   Winslow, Barbara       $2,400
                   Hershenov, Eileen      $2,250
                   Leif, Carol            $2,250
                   Messing, Debra         $2,250
Yang, Andrew       Koo, Julia             $8,877
                   Hu, Jordan             $4,000
                   DiCristo, Aurelia      $4,000
                   Nguyen, Kevin          $4,000
                   Emerson, Holly         $4,000
                   Sun, Yeren             $4,000
                   Diaco, Anthony         $4,000
                   Bergman, Barry         $4,000
                   Cornick, Kenneth       $4,000
                   Lai, Chao Cheng        $3,750

In [20]:
# Largest Donors
largest_donors_per_candidate(mayor_donations)

                                                   AMNT
RECIPNAME          NAME
Adams, Eric L      Bensusan, Danny              $12,100
                   Waisman, Shai                $10,200
                   Guzel, Murat                 $10,100
                   Boutross, Diana              $10,000
                   Singh, Navdeep               $10,000
                   Serova, Daria                $10,000
                   Bartlett, Gregory             $7,600
                   Akcetin, Mehmet               $7,000
                   David, Emanuel                $6,600
                   Cerchione, Gregory            $6,000
                   Razi, Sami Uddin              $6,000
                   Basusta, Yusuf                $5,500
                   Daneshvar, Michelle           $5,350
                   engelbrecht, Kate             $5,100
                   Belt, Antonia                 $5,100
Donovan, Shaun     Donovan, Shaun               $19,100
                   Blumenstein, Ruth            $15,300
                   Briganti, Stephen            $10,200
                   Zabar, Eli                   $10,200
                   Nolen, Eliot                 $10,200
                   Rockefeller, David           $10,200
                   Fredericks, Devon            $10,200
                   Bingham, Clara               $10,200
                   Goodman, Sara                $10,150
                   Niejelow, Alexander           $8,100
                   Hickenlooper, Robin           $8,000
                   Whang, John                   $6,100
                   Meyer, Audrey                 $5,600
                   Werner, Zachary               $5,600
                   Donovan, Lucas                $5,450
Garcia, Kathryn A  Smith, Daniel                 $2,250
                   sando, vicki                  $2,135
                   Hughes, Chris                 $2,000
                   Berardi, Eugene               $2,000
                   Wilson, Frederick             $2,000
                   Hansen, Monika                $2,000
                   Glazer, Elizabeth             $2,000
                   Wachsberger, Chaim            $2,000
                   Wilson, Joanne                $2,000
                   Kerr, Zachary                 $2,000
                   Kelly, Philip                 $2,000
                   MacArthur, Andrew             $2,000
                   Russo, Michael                $2,000
                   Uniformed Sanitation Chiefs   $2,000
                   Lettieri, Greg                $2,000
McGuire, Raymond J Williams-Isom, Anne          $15,300
                   Rubin, Robert                $10,200
                   Tisch, James                 $10,200
                   Lutnick, Allison             $10,200
                   Gerson, Mark                 $10,200
                   Rose, Joe                    $10,200
                   Abramson, Carrie             $10,200
                   Fuller, Vicki                $10,200
                   Adjmi, Marcus                $10,200
                   Ross, Kara                   $10,200
                   Chenault, Kenneth            $10,200
                   Atkins, Peter                $10,200
                   Wolfe, Lisa                  $10,200
                   Schnell, Paul                $10,200
                   Kempner, Michael             $10,100
Morales, Dianne    Weinberg, Jason               $6,000
                   momeyer, alan                 $2,100
                   Little, Keith                 $2,100
                   Shavers, Frances              $2,030
                   Murray, Brian                 $2,000
                   Kovner, Katherine             $2,000
                   Murray, Edward                $2,000
                   Schnapper, Simeon             $2,000
                   Wainright, Hannah             $2,000
                   Johnson, William              $2,000
                   weinberg, fred                $2,000
                   Sander, Elizabeth             $1,990
                   Weiss, Marina                 $1,900
                   Beltran, Edwin                $1,750
                   NIEVES, LISETTE               $1,625
Stringer, Scott M  Guenther, Diane A            $10,200
                   Klein, John S                $10,100
                   Redhead, Fabian               $9,900
                   Quinlan, Robert               $7,900
                   Zeckendorf, Arthur            $7,500
                   Cohen, Steven                 $5,450
                   Gelman, Audrey                $5,450
                   Sinensky, Michael             $5,350
                   Mehiel, Karen                 $5,350
                   Koeppel, Howard               $5,200
                   Moore, Judith                 $5,130
                   Yoon, Charles                 $5,100
                   Landau, Rachael               $5,100
                   Muss, Jessica                 $5,100
                   Maloney, Kevin                $5,100
Wiley, Maya D      Essex, Andrew                 $4,100
                   Carter, Zachary               $4,000
                   Wang, Elizabeth               $3,500
                   Pinderhughes, Dianne          $3,150
                   Bluhdorn, Dominique           $2,750
                   Tamagni, Jordan               $2,500
                   Winslow, Barbara              $2,400
                   Hershenov, Eileen             $2,250
                   Leif, Carol                   $2,250
                   Messing, Debra                $2,250
                   Johnson, Stan                 $2,250
                   Lee, Mary                     $2,010
                   Lupo, Barbara                 $2,000
                   Austin, Magalie               $2,000
                   Lynton, Michael               $2,000
Yang, Andrew       Koo, Julia                    $8,877
                   Hu, Jordan                    $4,000
                   DiCristo, Aurelia             $4,000
                   Nguyen, Kevin                 $4,000
                   Emerson, Holly                $4,000
                   Sun, Yeren                    $4,000
                   Diaco, Anthony                $4,000
                   Bergman, Barry                $4,000
                   Cornick, Kenneth              $4,000
                   Lai, Chao Cheng               $3,750
                   Horowitz, Jaime               $3,505
                   rong, hao                     $3,250
                   Livingston, Philip            $3,200
                   Belsky, Scott                 $3,000
                   Chen, Johnson                 $2,800

In [21]:
# Largest Real Estate Donors
largest_donors_per_candidate(flagged_donations_major_candidates, limit=30)

                                                 AMNT
RECIPNAME          NAME
Adams, Eric L      Boutross, Diana            $10,000
                   tamir, Elliot               $5,100
                   Berman, Nathan              $5,100
                   Verrone, Robert             $5,100
                   Tawil, Eliot                $5,100
                   Demirjian, Alexis           $5,100
                   Cohen, Adir                 $5,100
                   Borrok, Charles R.          $5,100
                   Shurka, Manny               $5,000
                   Schwartz, Yoel              $5,000
                   Corman, Jeffrey             $5,000
                   Landau, Solomon             $5,000
                   Neamonitakis, Michael       $4,000
                   Ward, Jesse                 $3,400
                   Vitucci Sr, Dominick        $3,400
                   Fisher, Avi                 $3,400
                   Silviano, John              $3,000
                   Anagnost, Dick              $3,000
                   Levkov, Viacheslav          $3,000
                   Gindi, jeffrey              $2,675
                   Iannucci, Robert            $2,500
                   Ewers, Sonia                $2,500
                   Marchi, Dean                $2,500
                   Chassin, Jonathan           $2,500
                   Sciortino, Anthony          $2,500
                   Basile, Rocco               $2,250
                   Ghershenzon, Mordechai      $2,000
                   Chalme, Raymond             $2,000
                   Sanjana, Aroza              $2,000
                   Cohen, Meir                 $2,000
Donovan, Shaun     Fisher, Winston             $5,100
                   DeBode, Gary                $5,100
                   olshan, andrea              $5,100
                   Bahar, Aaron                $5,100
                   KATZ, JEFFREY               $5,100
                   Moore, John                 $5,100
                   Sheller, Chris              $5,100
                   Bernstein, Joshua           $5,100
                   Silvers, Nicholas           $5,100
                   Brodsky, Daniel             $5,100
                   Silverstein, Larry          $5,100
                   Stacom, Darcy               $5,100
                   Zeiler, John                $5,100
                   Winn, Arthur                $5,100
                   Clark, Ric                  $5,100
                   Martin, Rob                 $3,000
                   Rubler, Neil                $2,500
                   Benenson, Lawrence          $2,500
                   kuriloff, josh              $2,500
                   Wiener, Alan                $2,250
                   Savitt, Robert              $2,000
                   Wiener, Matthew             $2,000
                   Kerr, Zachary               $2,000
                   Willard, Sara               $1,750
                   Murray, Brian               $1,500
                   Mandel, Barry               $1,500
                   Happel, Michael             $1,100
                   Fisher, Beth                $1,000
                   Shapiro, Ben                $1,000
                   Farman-Farmaian, Patricia   $1,000
Garcia, Kathryn A  Kalikow, Peter              $2,000
                   Kerr, Zachary               $2,000
                   Durst, Helena               $2,000
                   MacArthur, Andrew           $2,000
                   Ezra, Brian                 $1,400
                   Wark, Jesse                 $1,050
                   Peterson, Douglas             $750
                   Simkowitz, Chaim              $750
                   Ghossein, Yara                $750
                   Fruchthandler, Efraim         $750
                   Nigrelli, Randy               $700
                   Amiri, Behzad                 $500
                   Cottingham, Martin            $500
                   Barnett, Gary                 $500
                   cronin, denis                 $500
                   Braha, Jack                   $500
                   Pacelli, Adam                 $400
                   Gilmartin, MaryAnne           $400
                   Kay, Jeff                     $400
                   Potack, Julie                 $400
                   Muis, Hester                  $300
                   Sheehan, Timothy              $300
                   caicedo, claudia              $300
                   Gans, Charles                 $300
                   Fink, Carolee                 $260
                   Tirschwell, Ann               $250
                   Kramer, David                 $250
                   Kravitz, Alexis               $250
                   Zang, Andrew                  $250
                   Willard, Sara                 $250
McGuire, Raymond J Colacino, Michael           $8,433
                   winter, benjamin            $5,100
                   Goldberg, Andrew            $5,100
                   DeWoody, Beth               $5,100
                   Elbaum, Abigail             $5,100
                   Ruben, Richard              $5,100
                   Farman-Farmaian, Patricia   $5,100
                   Feuerstein, Eric            $5,100
                   Flatto, Adam                $5,100
                   Gevalt, Peter               $5,100
                   Resnick, Scott              $5,100
                   Reffkin, Robert             $5,100
                   Minskoff, Edward            $5,100
                   Milstein, Philip            $5,100
                   McKoin, Pamela              $5,100
                   Maslin, Scott               $5,100
                   Malkin, Anthony             $5,100
                   Mahfar, Samy                $5,100
                   Kalikow, Peter              $5,100
                   Ledy, David                 $5,100
                   Trulson, Derek              $5,100
                   Roth, Steven                $5,100
                   Wilks, Jeffrey              $5,100
                   Anderman, Drew              $5,100
                   Waterman III, Philip        $5,100
                   Zendell, Robin              $5,100
                   Williamson, Greg            $5,100
                   Boxer, Leonard              $5,100
                   Brooks, Andrew              $5,100
                   Manuche, Maria              $5,000
Morales, Dianne    Rosenthal, Richard            $500
                   Neveloff, Jay                 $400
                   Fried, Daniel                 $350
                   Takahashi, Ann                $250
                   Selsam, Robert                $250
                   Osterman, Thomas              $200
                   Jones, Marion                 $200
                   Yasui, Taylor                 $100
                   Lugo, Betty                   $100
                   Tabet, Maximilian             $100
                   Schwartz, Henry               $100
                   Stearns, Roschel Holland       $50
                   chin, julia                    $50
                   Fardy, Matthew                 $50
                   Colburn, Sharon                $35
                   Marino, Frank                  $31
                   Dyke, Ruth                     $21
Stringer, Scott M  Klein, John S              $10,100
                   Quinlan, Robert             $7,900
                   Brodsky, Daniel             $5,100
                   Chu, Alex                   $5,100
                   Rubenstein, Howard J        $5,100
                   Rosen, Daniel               $5,100
                   Brodsky, Thomas J           $5,100
                   Fisher, Winston             $5,100
                   Fisher, Kenneth             $5,100
                   Woo, Young                  $5,100
                   Siegel, Stephen B           $5,100
                   Fetner, Harold              $5,100
                   Hasbani, Jamil              $4,950
                   Penner, Arnold              $4,950
                   Barbanel, Lewis             $4,950
                   Kassin, Jack                $4,000
                   Nasser, Ezra                $2,500
                   Mosler, Wendy               $2,500
                   Sherman, Randi Fetner       $2,500
                   Brodsky, Alexander          $2,150
                   Mackie, Adam                $2,000
                   Milstein, Howard P          $2,000
                   Rubler, Neil                $2,000
                   Heller, Melvin S            $2,000
                   Herman, Dorothy             $2,000
                   Talve, Larry                $1,750
                   Willkie, Hall F             $1,250
                   Haber, Jason                $1,115
                   He, Qiong                   $1,100
                   Gordon, Eric                $1,000
Wiley, Maya D      Khan, Fazeel                $2,000
                   Johnson, Michael            $1,000
                   Zelermyer, Karen              $750
                   Shaw Clouse, Michelle         $700
                   Hunnings, Ronald              $350
                   Schoening, Mark               $350
                   Walker, Jessica               $300
                   Douglas, Jenny                $275
                   Sandidge, Cherene             $250
                   Buurma, Jacob                 $250
                   Ring, Susan                   $250
                   Richert, Ruthann              $175
                   Carter, Majora                $150
                   Menken, Janis                 $150
                   Klein, Scott                  $150
                   Nicolini, Karen               $100
                   Omeze, Tita                   $100
                   Mathews, Keisha               $100
                   Kramer, David                 $100
                   McFarlane Ebanks, JoAnn       $100
                   Shaw, Will                    $100
                   Turner, Ronnie                $100
                   Connell, Raymond              $100
                   Campbell, Bonnie              $100
                   Harris, Judd                  $100
                   Fahy, Nancy                    $75
                   Landry, Tanya                  $75
                   Stearns, Roschel Holland       $75
                   Chu, Jeffrey                   $75
                   Silberman, Ira                 $50
Yang, Andrew       Korein, James               $2,000
                   Wei, Nelson                 $2,000
                   DeLilli, Mark               $2,000
                   Reiser, Daniel              $2,000
                   Naparstek, Abram            $2,000
                   Milstein, Michael           $2,000
                   Verrone, Robert             $2,000
                   Russo, Greg                 $2,000
                   Mactaggart, Alastair        $2,000
                   Quant Technologies LLC      $2,000
                   Hahn, Young                 $2,000
                   Bellini, Arthur             $2,000
                   Huang, Patrick              $2,000
                   Barry, Michael              $2,000
                   Awalt, Gretchen             $2,000
                   Joseph, Panepinto A         $2,000
                   Smeke, Alberto              $2,000
                   Truong, Tom                 $1,010
                   Huang, James                $1,000
                   Levine, Benjamin            $1,000
                   Ahmed, John                 $1,000
                   Kleinhandler, Zachary       $1,000
                   Porges, John                $1,000
                   Kapadia, Neil               $1,000
                   posner, jarrett             $1,000
                   Alpert, Joseph              $1,000
                   Rich, Thomas                $1,000
                   Silberman, Guillermo        $1,000
                   Shnay, Scott                $1,000
                   Lefkowitz, Yaakov             $750

In [22]:
def real_estate_donors_for(candidate):
        columns = ['RECIPNAME', 'DATE', 'AMNT', 'NAME', 'ZIP', 'OCCUPATION', 'EMPNAME']
        donations = flagged_donations_major_candidates[flagged_donations_major_candidates['RECIPNAME'] == candidate][columns]
        donations["NAME"] =  donations["NAME"].apply(to_person_name)
        return donations.sort_values('AMNT', ascending=False)

real_estate_donors_for('Adams, Eric L').head(50)

,RECIPNAME,DATE,AMNT,NAME,ZIP,OCCUPATION,EMPNAME
27270,"Adams, Eric L",4/26/2018,5100.0,Charles R. Borrok,10013,Real Estate Broker,Cushman & Wakefield
252074,"Adams, Eric L",7/8/2018,5100.0,Elliot tamir,11230,Real Estate,Vesper Holdings
264605,"Adams, Eric L",8/13/2018,5100.0,Robert Verrone,7078,Real Estate Finance,Self Employed
21859,"Adams, Eric L",7/10/2018,5100.0,Nathan Berman,10128,Real Estate Development,Metro Loft Management
49376,"Adams, Eric L",1/10/2019,5100.0,Adir Cohen,11230,Real Estate,Renaissance Realty Group
253092,"Adams, Eric L",6/26/2019,5100.0,Eliot Tawil,11230,Real Estate,Wharton Preperties
62376,"Adams, Eric L",6/29/2018,5100.0,Alexis Demirjian,10023,Real Estate Broker,Douglas Elliman
236648,"Adams, Eric L",5/7/2018,5000.0,Manny Shurka,11050,Commercial Real Estate,Signature Investment Group
53061,"Adams, Eric L",1/11/2019,5000.0,Jeffrey Corman,11215,Real Estate Investor,Self Employee
230492,"Adams, Eric L",6/11/2018,5000.0,Yoel Schwartz,11206,Real estate investor,Blackdiam Properties LLC
27726,"Adams, Eric L",6/26/2019,5000.0,Diana Boutross,11209,Real Estate,cushman and wakefield
141976,"Adams, Eric L",6/21/2018,5000.0,Solomon Landau,11219,Real Estate,Zali Management
27727,"Adams, Eric L",7/11/2019,5000.0,Diana Boutross,11209,Real Estate,cushman and wakefield
183574,"Adams, Eric L",6/28/2019,3500.0,Michael Neamonitakis,11209,Real Estate,Meridian Properties LLC
268529,"Adams, Eric L",1/9/2019,3400.0,Jesse Ward,11231,Real Estate Developer,Self Employee
80063,"Adams, Eric L",1/9/2019,3400.0,Avi Fisher,11215,Real Estate,Principal Avery Hall
238064,"Adams, Eric L",7/9/2018,3000.0,John Silviano,11545,Real Estate Development,Barone Management
117816,"Adams, Eric L",1/11/2019,2500.0,Robert Iannucci,11201,Real Estate Investment,Clock towers properties
160979,"Adams, Eric L",5/29/2018,2500.0,Dean Marchi,7508,Real Estate,Grand Street Developement
75195,"Adams, Eric L",1/11/2019,2500.0,Sonia Ewers,11201,Real Estate Investor,Clock towers properties
91781,"Adams, Eric L",7/3/2018,2500.0,jeffrey Gindi,11223,Real Estate,Gindi Capital
230721,"Adams, Eric L",6/1/2018,2500.0,Anthony Sciortino,11234,Real Estate Broker,Self Employed
43036,"Adams, Eric L",7/9/2018,2500.0,Jonathan Chassin,10016,Commercial real estate,The MoinIan Group
111091,"Adams, Eric L",3/11/2021,2000.0,Abraham Hidary,11230,Real Estate,Hidrok Properties
249109,"Adams, Eric L",1/10/2019,2000.0,Baila Strulovitch,11205,Real Estate,Self Employee
41506,"Adams, Eric L",3/11/2021,2000.0,Raymond Chalme,10028,Real Estate Developer,Broad Street Development
280669,"Adams, Eric L",1/11/2020,2000.0,Toby Yedid,10065,Real estate broker,Capital property partners
122549,"Adams, Eric L",3/11/2021,2000.0,Joseph Jerome,11230,Real Estate Investor,JEMB Realty
261462,"Adams, Eric L",1/11/2020,2000.0,Gary Umansky,10309,Real estate,Self Employed
90612,"Adams, Eric L",1/11/2021,2000.0,Mordechai Ghershenzon,11230,Real Estate Appraisal,Self Employed
259481,"Adams, Eric L",3/11/2021,2000.0,Derek Trulson,10128,Real estate,JLL
49862,"Adams, Eric L",3/3/2021,2000.0,Meir Cohen,10022,Real Estate,Self Employed
51910,"Adams, Eric L",10/1/2020,2000.0,Brian Connors,11228,Real Estate,AIE
148445,"Adams, Eric L",11/5/2019,2000.0,Viacheslav Levkov,11234,REAL ESTATE DEV,LAY ASSETS LLC
54631,"Adams, Eric L",6/19/2019,2000.0,Joshua Crane,10075,Real estate,Self Employed
268407,"Adams, Eric L",1/9/2021,2000.0,Ziming Wang,11354,Real Estate,Ann. Group LLc
110408,"Adams, Eric L",3/11/2021,2000.0,Brett Herschenfeld,10007,real estate,SL Green Realty Corp
160477,"Adams, Eric L",10/9/2020,2000.0,Greg Manocherian,10576,Real Estate,Self Employed
192228,"Adams, Eric L",6/19/2018,2000.0,Isaac Oved,10021,Real estate broker,Little el Fassi
249110,"Adams, Eric L",1/7/2019,2000.0,Chaskiel Strulovitch,11211,Real Estate,Self Employee
239859,"Adams, Eric L",12/10/2020,2000.0,Sanford Sirulnick,10021,Real Estate,Ditmas Management Corp
239854,"Adams, Eric L",12/10/2020,2000.0,Joanna Sirulnick,10128,Real Estate,Ditmas Management Corp
225979,"Adams, Eric L",1/13/2020,2000.0,Aroza Sanjana,11545,Real Estate Broker,Self Employed
221337,"Adams, Eric L",3/9/2021,2000.0,Richard Ruben,10022,Real estate,Ruben Companies
283196,"Adams, Eric L",12/16/2019,2000.0,William Zeckendorf,10065,Real Estate Investor,Zeckendorf Development
16665,"Adams, Eric L",3/10/2021,2000.0,Michael Barry,7030,Real Estate,Ironstate Development
17121,"Adams, Eric L",8/14/2020,2000.0,Rocco Basile,10013,Real estate,Self Employed
203325,"Adams, Eric L",3/10/2021,2000.0,drew popkin,10009,Real Estate,Self Employed
187617,"Adams, Eric L",1/13/2020,2000.0,Jose Nunez,11545,Real Estate Broker,Self Employed
171806,"Adams, Eric L",2/21/2019,2000.0,Uri Mermelstein,10017,Real estate investor,Self Employed

In [23]:
len(flagged_donations[flagged_donations['RECIPNAME'] == 'Adams, Eric L']['NAME'].unique())

247

In [24]:
pathlib.Path("donations").mkdir(parents=True, exist_ok=True)

for cand in ['Adams, Eric L', 'Donovan, Shaun', 'Garcia, Kathryn A', 'McGuire, Raymond J', 'Stringer, Scott M', 'Yang, Andrew']:
    csv_name = f"donations/{candidate_last_names.get(cand)}_top_realestate_donors.csv"
    top_donations = real_estate_donors_for(cand).head(25).to_csv(csv_name)

In [25]:
largest_donors_per_candidate(flagged_donations_major_candidates, limit=3)

                                          AMNT
RECIPNAME          NAME
Adams, Eric L      Boutross, Diana     $10,000
                   tamir, Elliot        $5,100
                   Berman, Nathan       $5,100
Donovan, Shaun     Fisher, Winston      $5,100
                   DeBode, Gary         $5,100
                   olshan, andrea       $5,100
Garcia, Kathryn A  Kalikow, Peter       $2,000
                   Kerr, Zachary        $2,000
                   Durst, Helena        $2,000
McGuire, Raymond J Colacino, Michael    $8,433
                   winter, benjamin     $5,100
                   Goldberg, Andrew     $5,100
Morales, Dianne    Rosenthal, Richard     $500
                   Neveloff, Jay          $400
                   Fried, Daniel          $350
Stringer, Scott M  Klein, John S       $10,100
                   Quinlan, Robert      $7,900
                   Brodsky, Daniel      $5,100
Wiley, Maya D      Khan, Fazeel         $2,000
                   Johnson, Michael     $1,000
                   Zelermyer, Karen       $750
Yang, Andrew       Korein, James        $2,000
                   Wei, Nelson          $2,000
                   DeLilli, Mark        $2,000

In [26]:
def top_donors_for(df, head=20):
    top_donors = df.groupby(["NAME"]).agg({"AMNT": 'sum', 'RECIPNAME': lambda series: list(series.unique()) }).sort_values(by="AMNT", ascending=False).head(head).reset_index()
    top_donors.rename(columns={"NAME": "Donor Name", "AMNT": "Amount", "RECIPNAME": "Supported Candidates" }, inplace=True)
    top_donors['Donor Name'] = top_donors['Donor Name'].apply(lambda x: str(HumanName(x)))
    top_donors["Amount"] = top_donors["Amount"].apply(lambda x: f"${humanize.intcomma(round(x))}" )
    top_donors["Supported Candidates"] = top_donors["Supported Candidates"].apply(lambda names: ", ".join(map(candidate_last_names.get, names)))
    return top_donors


all_top_donors = top_donors_for(mayor_donations, head=50)
top_real_estate_donors = top_donors_for(flagged_donations, head=50)

In [27]:
mayor_donations[["EMPNAME", "AMNT"]].groupby(["EMPNAME"]).agg(['sum', 'count']).sort_values(by=('AMNT', 'sum'), ascending=False).head(100)

                                      AMNT
                                       sum  count
EMPNAME
Not Employed                    3590179.52  24050
Self Employed                   2289462.03   6765
Retired                          507235.55   1322
Paul Weiss                       205321.42    113
Citigroup                        147057.06    187
Homemaker                        108975.00    185
Skadden Arps                     100905.00     98
Self Employee                     72810.00    108
Wachtell, Lipton, Rosen & Katz    70245.00     45
None                              66006.81     73
Pershing Square Capital Manage    39200.00      9
Monroe College                    38075.00     34
Google                            37437.60    252
Columbia University               37135.84    265
Sullivan & Cromwell LLP           36860.00     30
Lazard                            36600.00      9
Kirkland & Ellis LLP              35145.00     25
City of New York                  34269.06    432
Skadden Arps Slate Meagher & F    33800.00     17
NYU                               31393.69    232
Cravath, Swaine & Moore LLP       31175.00     17
retired                           30470.00     87
Centerview Partners               29500.00      7
Kirkland & Ellis                  29400.00     16
NYPD                              26644.00    228
Compass                           24696.21     60
Mediaocean                        24161.00     46
Long Pond Capital                 23900.00      6
PJT Partners                      23600.00      9
Standard Industries               21800.00      7
Cleary Gottlieb Steen & Hamilt    21550.00     14
Willkie Farr & Gallagher LLP      21218.00     22
Cleary Gottlieb                   21100.00     14
JLL                               20535.00     23
Fisher Brothers                   20435.00      6
CBRE                              19825.00     16
Bank of America                   19557.42     61
Fordham University                19198.42     49
Morgan Stanley                    18980.21     40
ViacomCBS                         18947.21     45
Student                           17966.07     76
NYC DOE                           17607.22    340
Shearman & Sterling LLP           17292.70     14
King & Spalding LLP               17275.00     12
King & Spalding                   16900.00     11
Mastercard                        16595.00     27
Tashkent Supermarket              16000.00      7
Douglas Elliman                   15825.00     26
DSNY                              15773.07    174
Estee Lauder Companies            15500.00      6
Fairstead                         15300.00      3
TG Holdings, LLC                  15300.00      3
Allen & Company LLC               15300.00      3
Rubenstein Communications         15150.00      3
Simpson Thacher & Bartlett LLP    15000.00     15
Ehrenkranz Partners               14875.00      6
Harvard Business School           13950.00      8
Spencer Stuart                    13265.00      8
Wachtell, Lipton, Rosen & Kat     13100.00      7
Bloomberg                         13000.21     32
cushman and wakefield             12750.00      4
Centerview Partners LLC           12700.00      3
MSG                               12700.00      5
Corcoran                          12355.21     23
The Brodsky Organization          12350.00      3
Netflix                           12206.21     19
Sessa Capital                     12200.00      3
AlleyCorp                         12200.00      3
Loews Corp                        12200.00      3
Willett Advisors LLC              12200.00      3
Bensusan Restaurant Corp          12100.00      3
Gravity Construction              12000.00      3
Sacks & Sacks LLP                 12000.00      6
Lowenstein Sandler LLP            11950.00      6
Katten Muchin Rosenman LLP        11850.00      5
CUNY                              11741.82    187
Acrisure LLC                      11700.00      5
DLA Piper                         11700.00     11
Brown Harris Stevens              11595.00     30
Allen & Company                   11375.00      4
Cadwalader, Wickersham & Taft     11350.00     13
RETIRED                           11206.00     64
Union Square Ventures             11100.00      4
Apple                             10947.84     63
NYC                               10866.20    162
Harvard University                10850.00     20
New York University               10713.29    154
S&L Aerospace Metals              10700.00      3
EMU Health                        10635.00      5
Abrams Fensterman                 10600.00      3
Terra Holdings                    10550.00      5
UBS                               10537.12     36
Broadway Stages Ltd               10500.00      7
Newmark                           10500.00     13
Goldberg Weprin Finkel Goldste    10350.00      3
DLA Piper LLP (US)                10350.00      5
Willkie Farr & Gallagher          10325.00     15
Peloton                           10316.00      6
Cravath Swaine & Moore LLP        10270.00      5
Blue Hill                         10250.00      3

In [28]:
top_real_estate_donors

                  Donor Name   Amount     Supported Candidates
0             Daniel Brodsky  $10,200        Stringer, Donovan
1             Winston Fisher  $10,200        Stringer, Donovan
2               John S Klein  $10,100                 Stringer
3             Diana Boutross  $10,000                    Adams
4           Michael Colacino   $8,433                  McGuire
5             Robert Quinlan   $7,900                 Stringer
6              Peter Kalikow   $7,100          Garcia, McGuire
7              Derek Trulson   $7,100           Adams, McGuire
8             Robert Verrone   $7,100              Adams, Yang
9              Richard Ruben   $7,100           Adams, McGuire
10         Sanford Sirulnick   $7,000           Adams, McGuire
11  Patricia Farman-Farmaian   $6,100         Donovan, McGuire
12            Lewis Barbanel   $5,625  Stringer, Adams, Garcia
13          Nicholas Silvers   $5,500           Adams, Donovan
14             Robin Zendell   $5,100                  McGuire
15             Jeffrey Wilks   $5,100                  McGuire
16             Leonard Boxer   $5,100                  McGuire
17          Thomas J Brodsky   $5,100                 Stringer
18             Andrew Brooks   $5,100                  McGuire
19                  Alex Chu   $5,100                 Stringer
20           Andrew Goldberg   $5,100                  McGuire
21       Philip Waterman III   $5,100                  McGuire
22              Peter Gevalt   $5,100                  McGuire
23               Adam Flatto   $5,100                  McGuire
24                 Ric Clark   $5,100                  Donovan
25            Kenneth Fisher   $5,100                 Stringer
26             Harold Fetner   $5,100                 Stringer
27           Eric Feuerstein   $5,100                  McGuire
28             andrea olshan   $5,100                  Donovan
29           Greg Williamson   $5,100                  McGuire
30             Nathan Berman   $5,100                    Adams
31         Charles R. Borrok   $5,100                    Adams
32          Joshua Bernstein   $5,100                  Donovan
33            Abigail Elbaum   $5,100                  McGuire
34                 Young Woo   $5,100                 Stringer
35          Alexis Demirjian   $5,100                    Adams
36              Beth DeWoody   $5,100                  McGuire
37               Gary DeBode   $5,100                  Donovan
38                Adir Cohen   $5,100                    Adams
39               John Zeiler   $5,100                  Donovan
40               Arthur Winn   $5,100                  Donovan
41       Howard J Rubenstein   $5,100                 Stringer
42              JEFFREY KATZ   $5,100                  Donovan
43         Larry Silverstein   $5,100                  Donovan
44               Steven Roth   $5,100                  McGuire
45              Daniel Rosen   $5,100                 Stringer
46           benjamin winter   $5,100                  McGuire
47             Scott Resnick   $5,100                  McGuire
48            Robert Reffkin   $5,100                  McGuire
49                John Moore   $5,100                  Donovan

In [29]:
all_top_donors

             Donor Name   Amount               Supported Candidates
0         Shaun Donovan  $19,100                            Donovan
1    Anne Williams-Isom  $17,300                     Wiley, McGuire
2      Ruth Blumenstein  $15,300                            Donovan
3        Steven Rattner  $14,200  Stringer, Adams, Donovan, McGuire
4           James Dolan  $12,200            Adams, Donovan, McGuire
5            Kevin Ryan  $12,200             Donovan, McGuire, Yang
6           James Tisch  $12,200                    Garcia, McGuire
7        Robert Verrone  $12,200               Adams, McGuire, Yang
8            John Petry  $12,200               Adams, McGuire, Yang
9          Sara Goodman  $12,150                  Stringer, Donovan
10       Danny Bensusan  $12,100                              Adams
11      Michael Kempner  $12,100                   Donovan, McGuire
12    David Rockefeller  $11,450            Donovan, Wiley, McGuire
13         Chris Hughes  $11,100   Stringer, Adams, Donovan, Garcia
14          Daniel Lowy  $10,635      Donovan, Wiley, McGuire, Yang
15       Fabian Redhead  $10,400                    Stringer, Adams
16          Steve Lipin  $10,200                   Donovan, McGuire
17         Vicki Fuller  $10,200                            McGuire
18          Steve Tisch  $10,200                   Donovan, McGuire
19      Carrie Abramson  $10,200                            McGuire
20     Diane A Guenther  $10,200                           Stringer
21     Stephen Briganti  $10,200                            Donovan
22        Clara Bingham  $10,200                            Donovan
23             Joe Rose  $10,200                            McGuire
24           Tony Coles  $10,200                   Donovan, McGuire
25           Lisa Wolfe  $10,200                            McGuire
26          Mark Gerson  $10,200                            McGuire
27          Eliot Nolen  $10,200                            Donovan
28      Allison Lutnick  $10,200                            McGuire
29            Kara Ross  $10,200                            McGuire
30         Shai Waisman  $10,200                              Adams
31  James L Nederlander  $10,200                  Stringer, Donovan
32          John J Mack  $10,200                   Donovan, McGuire
33         Peter Atkins  $10,200                            McGuire
34         Robert Rubin  $10,200                            McGuire
35         Brian Cooper  $10,200                     Adams, McGuire
36     Kenneth Chenault  $10,200                            McGuire
37         Paul Schnell  $10,200                            McGuire
38         Marcus Adjmi  $10,200                            McGuire
39     Devon Fredericks  $10,200                            Donovan
40            Eli Zabar  $10,200                            Donovan
41       Winston Fisher  $10,200                  Stringer, Donovan
42       Daniel Brodsky  $10,200                  Stringer, Donovan
43          Murat Guzel  $10,100                              Adams
44         John S Klein  $10,100                           Stringer
45      Andrew Albstein  $10,100                     Adams, McGuire
46        Herbert Allen  $10,100                   Donovan, McGuire
47        Navdeep Singh  $10,000                              Adams
48       Diana Boutross  $10,000                              Adams
49       Michael Lynton  $10,000     Stringer, Donovan, Wiley, Yang

In [30]:
sum_from_real_estate = flagged_donations_major_candidates[['RECIPNAME', 'AMNT']].groupby('RECIPNAME').sum()
sum_from_real_estate = sum_from_real_estate.sort_values(by='AMNT', ascending=False)
sum_from_real_estate['AMNT'] = sum_from_real_estate['AMNT'].apply(to_money)

sum_from_real_estate

                        AMNT
RECIPNAME
McGuire, Raymond J  $264,904
Adams, Eric L       $234,044
Stringer, Scott M   $149,423
Donovan, Shaun      $133,311
Yang, Andrew         $63,117
Garcia, Kathryn A    $30,875
Wiley, Maya D         $8,937
Morales, Dianne       $2,787

In [31]:
total_amount_recieved = mayor_donations[["RECIPNAME", "AMNT"]].groupby("RECIPNAME").sum().sort_values(by='RECIPNAME')
total_amount_recieved["Real Estate"] = flagged_donations_major_candidates[['RECIPNAME', 'AMNT']].groupby('RECIPNAME').sum().sort_values(by='RECIPNAME')
total_amount_recieved = total_amount_recieved.reset_index().sort_values(by='Real Estate', ascending=False)

total_amount_recieved["Total"]  = total_amount_recieved["AMNT"].apply(to_money)
total_amount_recieved["Real Estate"] = total_amount_recieved['Real Estate'].apply(to_money)
total_amount_recieved['Name'] = total_amount_recieved['RECIPNAME'].apply(to_person_name)

# print(total_amount_recieved[['Name', 'Total', 'Real Estate']].to_string())

total_amount_recieved[['Name', 'Total', 'Real Estate']].style.hide_index()

In [32]:
to_money(flagged_donations_major_candidates['AMNT'].sum())

'$887,398'

In [33]:
flagged_donations_major_candidates['AMNT'].sum() / mayor_donations['AMNT'].sum() * 100

4.284781966891966

In [34]:
employer_agg = mayor_donations[["RECIPNAME", "EMPNAME", "AMNT"]].copy()

# employer_agg['EMPNAME'] = employer_agg['EMPNAME'].apply(employed_format)

employer_agg = employer_agg[["RECIPNAME", "EMPNAME", "AMNT"]].groupby(["RECIPNAME", "EMPNAME"]).agg(['sum', 'count']).sort_values(by=('AMNT', 'sum'), ascending=False)

In [53]:
# top_employers
top_employers = mayor_donations[["EMPNAME", "AMNT"]].copy()
top_employers['EMPNAME'] = top_employers['EMPNAME'].apply(employed_format)

top_employers = top_employers.groupby('EMPNAME').sum().sort_values('AMNT', ascending=False).reset_index()[['EMPNAME', 'AMNT']].sort_values(by='AMNT', ascending=False)
top_employers['Employer Name'] = top_employers['EMPNAME']
top_employers['Amount'] = top_employers['AMNT'].apply(to_money)

top_employers[['Employer Name', 'Amount']].head(100).to_csv('top_100_employers.csv', index=False)


top_employers[['Employer Name', 'Amount']].head(20)

                     Employer Name      Amount
0                     Not Employed  $3,590,180
1                    Self Employed  $2,289,462
2                          Retired    $507,236
3                       Paul Weiss    $205,321
4                        Citigroup    $147,057
5                        Homemaker    $108,975
6                     Skadden Arps    $100,905
7                    Self Employee     $72,810
8   Wachtell, Lipton, Rosen & Katz     $70,245
9                             None     $66,007
10  Pershing Square Capital Manage     $39,200
11                  Monroe College     $38,075
12                          Google     $37,438
13             Columbia University     $37,136
14         Sullivan & Cromwell LLP     $36,860
15                          Lazard     $36,600
16            Kirkland & Ellis LLP     $35,145
17                City of New York     $34,269
18  Skadden Arps Slate Meagher & F     $33,800
19                             NYU     $31,394

In [36]:
employer_agg.head(100)

                                                         AMNT
                                                          sum count
RECIPNAME          EMPNAME
McGuire, Raymond J Not Employed                    1359250.41  1695
                   Self Employed                    735490.68   792
Donovan, Shaun     Not Employed                     697154.56  1407
Adams, Eric L      Self Employed                    689157.00  1123
Yang, Andrew       Not Employed                     601950.53  7443
Stringer, Scott M  Not Employed                     398529.56  2640
Wiley, Maya D      Not Employed                     266192.90  6109
McGuire, Raymond J Retired                          260943.85   214
Donovan, Shaun     Self Employed                    260654.84   457
Stringer, Scott M  Self Employed                    223902.96   900
McGuire, Raymond J Paul Weiss                       198140.42    95
Morales, Dianne    Not Employed                     145664.98  3654
McGuire, Raymond J Citigroup                        141982.06   146
Wiley, Maya D      Self Employed                    138777.79  1491
Yang, Andrew       Self Employed                    128945.30   998
Adams, Eric L      Retired                          100324.00   363
McGuire, Raymond J Skadden Arps                      96785.00    83
Garcia, Kathryn A  Not Employed                      91238.58   859
Stringer, Scott M  Retired                           89096.50   530
Adams, Eric L      Self Employee                     72810.00   108
Stringer, Scott M  Homemaker                         64935.00   105
Garcia, Kathryn A  Self Employed                     63615.00   368
McGuire, Raymond J None                              63567.81    40
                   Wachtell, Lipton, Rosen & Katz    58450.00    27
Morales, Dianne    Self Employed                     48918.46   636
McGuire, Raymond J Pershing Square Capital Manage    39200.00     9
Adams, Eric L      Homemaker                         38840.00    75
McGuire, Raymond J Lazard                            36600.00     9
Wiley, Maya D      Retired                           36450.99   178
McGuire, Raymond J Sullivan & Cromwell LLP           35050.00    21
                   Skadden Arps Slate Meagher & F    33800.00    17
Stringer, Scott M  Monroe College                    32400.00    23
McGuire, Raymond J Cravath, Swaine & Moore LLP       31100.00    15
Adams, Eric L      Not Employed                      30198.00   243
McGuire, Raymond J Kirkland & Ellis LLP              28925.00    20
                   Kirkland & Ellis                  26600.00    11
                   Centerview Partners               25500.00     5
Adams, Eric L      NYPD                              25416.00   195
Donovan, Shaun     Mediaocean                        24161.00    46
McGuire, Raymond J Long Pond Capital                 23900.00     6
                   PJT Partners                      23600.00     9
                   Cleary Gottlieb Steen & Hamilt    21450.00    13
                   Standard Industries               19800.00     6
                   Willkie Farr & Gallagher LLP      19350.00    13
                   Cleary Gottlieb                   19100.00     9
                   Compass                           18045.21    19
                   King & Spalding LLP               17100.00    11
                   Shearman & Sterling LLP           16832.70     7
                   King & Spalding                   16600.00     9
Donovan, Shaun     Retired                           16530.00     7
Adams, Eric L      Tashkent Supermarket              16000.00     7
McGuire, Raymond J ViacomCBS                         15545.21    13
Garcia, Kathryn A  DSNY                              15433.07   166
McGuire, Raymond J Fordham University                15400.00     4
                   Fairstead                         15300.00     3
                   TG Holdings, LLC                  15300.00     3
Stringer, Scott M  Fisher Brothers                   15300.00     3
McGuire, Raymond J Estee Lauder Companies            15300.00     4
                   Allen & Company LLC               15300.00     3
                   Simpson Thacher & Bartlett LLP    14400.00    10
Yang, Andrew       Google                            14203.84   103
McGuire, Raymond J Ehrenkranz Partners               13700.00     4
Garcia, Kathryn A  City of New York                  13457.65   147
McGuire, Raymond J retired                           13165.00     8
                   Spencer Stuart                    13150.00     5
                   Wachtell, Lipton, Rosen & Kat     13100.00     7
                   Student                           12724.07    44
                   Centerview Partners LLC           12700.00     3
Donovan, Shaun     Mastercard                        12525.00    13
McGuire, Raymond J Bank of America                   12425.00    13
Stringer, Scott M  The Brodsky Organization          12350.00     3
Adams, Eric L      Bensusan Restaurant Corp          12100.00     3
                   retired                           12035.00    54
                   Gravity Construction              12000.00     3
Stringer, Scott M  Sacks & Sacks LLP                 12000.00     6
McGuire, Raymond J Lowenstein Sandler LLP            11950.00     6
                   Google                            11015.42    18
Adams, Eric L      S&L Aerospace Metals              10700.00     3
                   RETIRED                           10651.00    53
McGuire, Raymond J Morgan Stanley                    10620.21    15
Adams, Eric L      Broadway Stages Ltd               10500.00     7
McGuire, Raymond J Netflix                           10350.00     7
Donovan, Shaun     Blue Hill                         10250.00     3
McGuire, Raymond J Cadwalader, Wickersham & Taft     10250.00    11
                   MACRO                             10200.01     3
                   The Orogen Group                  10200.00     3
                   General Catalyst                  10200.00     2
                   Loews Corp                        10200.00     2
                   Estreich & Company                10200.00     2
Donovan, Shaun     Johnston Marklee                  10200.00     2
McGuire, Raymond J Cravath Swaine & Moore LLP        10200.00     2
Adams, Eric L      Ferguson & Shamaimian Architec    10200.00     2
Donovan, Shaun     Statue of Liberty-Ellis Island    10200.00     2
McGuire, Raymond J PDT Partners                      10200.00     2
                   A&E Real Estate                   10200.00     2
Adams, Eric L      Prime Clark                       10200.00     2
McGuire, Raymond J Rose Urban Strategies             10200.00     2
                   A&E Real Estate Management        10200.00     2
                   Acrisure LLC                      10200.00     2
                   LWPartners                        10200.00     2

In [37]:
def employer_donations(name):    
    return mayor_donations[mayor_donations["EMPNAME"].str.lower() == name.lower()]

def employer_donations_contains(name):    
    return mayor_donations[mayor_donations["EMPNAME"].str.lower().contains(name.lower)]

def employer_donations_summary(name):
    
    recipients = employer_donations(name)[["RECIPNAME", "AMNT"]].groupby('RECIPNAME').sum().reset_index().sort_values('AMNT', ascending=False).to_dict('records')
    recipients = list(map(lambda x: f"{to_person_name(x['RECIPNAME'])} {to_money(x['AMNT'])}", recipients))
    
    return {
        "name": name,
        "sum": employer_donations(name)['AMNT'].sum(),
        "donors": list(map(to_person_name, employer_donations(name)["NAME"].unique())),
        "recipients": recipients
    }

In [38]:
employer_donations_summary("NETFLIX")

{'name': 'NETFLIX',
 'sum': 12206.21,
 'donors': ['Rhonda Adams Medina',
  'Kathie Berlin',
  'Cole Galvin',
  'Grant Goodman',
  'Eric Harvey',
  'Melissa Heller-Seid',
  'Chen Jacobson',
  'Taehoon Kim',
  'Rhonda Medina',
  'Tendo Nagenda',
  'Andrew Nguonly',
  'Lyn Pinezich',
  'Renate Radford',
  'Theodore Sarandos',
  'Zhang Zhuge'],
 'recipients': ['Raymond J McGuire $10,350',
  'Shaun Donovan $1,175',
  'Andrew Yang $331',
  'Scott M Stringer $300',
  'Maya D Wiley $50']}

In [39]:
employer_donations_summary("Kirkland & Ellis")

{'name': 'Kirkland & Ellis',
 'sum': 29400.0,
 'donors': ['reginald brown',
  'Lauren Friedman',
  'Daniel Fuglestad',
  'Jonathan Henes',
  'Melissa Hutson',
  'Jason Kanner',
  'Michael Kim',
  'Peter Leung',
  'Ramiro Ocasio',
  'Jen Perkins',
  'Edward Sassower',
  'Eric Wedel',
  'Erica Williams',
  'Ali Zaidi'],
 'recipients': ['Raymond J McGuire $26,600',
  'Scott M Stringer $2,400',
  'Shaun Donovan $400']}

In [40]:
employer_donations_summary("Paul Weiss")

{'name': 'Paul Weiss',
 'sum': 205321.41999999998,
 'donors': ['Jacob Adlerstein',
  'Allan Arffa',
  'Matthew Barnett',
  'Scott Barshay',
  'Paul Basta',
  'Lynn Bayard',
  'Daniel Beller',
  'Joseph Bial',
  'Bruce Birenboim',
  'H. Christopher Boehning',
  'Peter Borock',
  'David Brown',
  'Jessica Carey',
  'Geoffrey Chepiga',
  'Jay Cohen',
  'Emily Compton',
  'Kelley Cornish',
  'Ariel Deckelbaum',
  'Andrew Ehrlich',
  'Sharon Epperson',
  'Ross Fieldston',
  'Brad Finkelstein',
  'Roberto Finzi',
  'Robert Fleder',
  'Martin Flumenbaum',
  'Harris Freidus',
  'Manuel Frey',
  'Andrew Gaines',
  'Sarah Garcia-Tunon',
  'Michael Gertzman',
  'Eric Goodison',
  'Brian Grieve',
  'Udi Grofman',
  'Bruce Gutenplan',
  'Alan Halperin',
  'Claudia Hammerman',
  'Brian Hermann',
  'Rob Holo',
  'Amran Hussein',
  'Stacy Hwang',
  'Loretta Ippolito',
  'Keith James',
  'Jaren Janghorbani',
  'Meredith Kane',
  'Brad Karp',
  'Brian Kim',
  'Joey Kolatch',
  'Daniel Kramer',
  'David Lakhdhir',
  'Greg Laufer',
  'Justin Lerer',
  'Loretta Lynch',
  'Marco Masotti',
  'William Michael',
  'Eric Ng',
  "Jane O'Brien",
  'Lindsay Parks',
  'Andrew M Parlen',
  'Danyale Price',
  'Valerie Radwaner',
  'Carl Reisner',
  'Lorin Reisner',
  'Walter Ricciardi',
  'Richard Rosen',
  'Andrew Rosenberg',
  'Jacqueline Rubin',
  'Raphael Russo',
  'Elizabeth Sacksteder',
  'Jeffrey Saferstein',
  'Jeff Samuels',
  'kenneth schneider',
  'Robert Schumer',
  'John Scott',
  'Kyle Seifried',
  'Anne Simons',
  'Audra Soloway',
  'Sarah Stasny',
  'Daniel Stone',
  'Eric Stone',
  'Aidan Synnott',
  'Richard Tarlowe',
  'Monica Thurmond',
  'Daniel Toal',
  'Julie Triedman',
  'Conrad van Loggerenberg',
  'Liza Velazquez',
  'Michael Vogel',
  'Anne Weisberg',
  'Theodore Wells',
  'Lindsey Wiersma',
  'Steven Williams',
  'Austin Witt',
  'Julia Wood',
  'Jennifer Wu',
  'Jordan Yarett',
  'Taurie Zeitzer',
  'Jane Zhou',
  'Robert Zochowski'],
 'recipients': ['Raymond J McGuire $198,140',
  'Andrew Yang $4,300',
  'Maya D Wiley $2,045',
  'Scott M Stringer $600',
  'Kathryn A Garcia $115',
  'Dianne Morales $71',
  'Eric L Adams $50']}

In [41]:
employer_donations_summary("Google")

{'name': 'Google',
 'sum': 37562.6,
 'donors': ['Jonathan Adams',
  'Rudi Anggono',
  'Michael Appel',
  'Felipe Archondo',
  'Sarah Armstrong',
  'Chan Baik',
  'Rachel Ball',
  'Kenneth Bandes',
  'Eric Barbera',
  'Alexander Bergersen',
  'Briana Bernstein',
  'Tejpaul Bhatia',
  'Marcus Bischof',
  'James Bradbury',
  'Genevieve Brennan',
  'Jared Brick',
  'Benjamin Brittain',
  'Michelle Brous',
  'Shane Burklow',
  'Brad Burns',
  'John Carpenter',
  'John Cater',
  'Angela Chen',
  'Estee Cheng',
  'Weijian Cheng',
  'Po Chui',
  'Jay Chung',
  'John Chung',
  'Peta Clarke',
  'Galen Corey',
  'Marci Czel',
  "Antonio D'Souza",
  'John Demartino',
  'Karen DeSalvo',
  'Andrea DiBenedetto',
  'David Eisenstat',
  'Hunter Ellenbarger',
  'Matthew Elyanow',
  'Gabriel Ewing',
  'Stephen Fang',
  'Desmond Foo',
  'Alec Fox',
  'Matthew Frazier',
  'Beverly Freeman',
  'TRISTAN G SMITH',
  'Leigh Gallagher',
  'Paul Gamble',
  'Raha Ghassemi',
  'Rob Giampietro',
  'Gabriel Giosia',
  'Robert Gleichman',
  'Daniel Glick',
  'Lawrence Greenfield',
  'Joshua Grill',
  'Gabrielle Guarino',
  'Gigi Guarino',
  'Chengen Guo',
  'Jesse Haines',
  'Felix Halim',
  'Chelsea Hartney',
  'Thien Hoang',
  'Peter Hoerburger',
  'Kenneth Holloway',
  'Stephanie Horton',
  'Andrew Huie',
  'Alex Iriza',
  'Alexander Iriza',
  'Rani Iyer',
  'Tibby Iz',
  'Zachery Jacobson',
  'Thomas Jankauski',
  'Matthew Jones',
  'Brian Kaufman',
  'Martin Kemp',
  'James King',
  'Todd Kirkland',
  'Josh Knight',
  'Nathaniel Kohl',
  'Alexei Kouzemtchenko',
  'Matthew Lanken',
  'Collin Larson',
  'Kelvin Lee',
  'Peter Lee',
  'Tom Leung',
  'Tara Levy',
  'Vivian Lewit',
  'Daliang Li',
  'emily li',
  'Caroline Liu',
  'cen liu',
  'Theodore Lu',
  'David Mandelbaum',
  'Ryan Marcus',
  'Garrett Maron',
  'João Martins',
  'Andrew Matsuoka',
  'Riley Matthews',
  'Adele McDonald',
  'Josh McGinley',
  'Elisa Meyer',
  'Nik Milanovic',
  'John Miller',
  'Phillips Mitchell',
  'Jennifer Mizusawa',
  'Riyadh Mohammed',
  'catherine moresco',
  'Brian Moroz',
  'Michael Mullen',
  'Nathan Osburn',
  'Max Parke',
  'Brandon Parrott',
  'Lindsay Pasricha',
  'Naomi Peña',
  'Samantha Penabad',
  'Daniel Peng',
  'Tracy Pesin',
  'Sharen Phillips',
  'Owen Pierce',
  'Benson Qiu',
  'Evgeniy Retyunskiy',
  'Stephen Rice',
  'Sergio Rico',
  'Pavlos Rontidis',
  'Rafik Salama',
  'Brett Salinas',
  'Marvin Sanders',
  'Jason Scherer',
  'Markus Schober',
  'Peter Schottenfels',
  'Gabriel Schubiner',
  'Ben Seligman',
  'Elise Shae',
  'Erika Shiroma',
  'Laura Slabin',
  'Darryl Sladden',
  'Johanne Sterling',
  'Bonita Stewart',
  'Alec Story',
  'Zachary Strudler',
  'Yunting Sun',
  'Sean Talley',
  'Katrina Tarmidi',
  'Nat Thompson',
  'Anthony Tordillos',
  'Stephen Trask',
  'Tony Tseng',
  'Kevin Tung',
  'Thomas Turnbull',
  'Austin Valeske',
  'Shaobo Wang',
  'Heather Watson',
  'Timothy Wee',
  'Charles Weill',
  'David Welch',
  'Mitchell Williams',
  'John Wittrock',
  'Derek Wollenstein',
  'Jane Wolov',
  'Andrew Wong',
  'James Worcester',
  'Chuck Wu',
  'Hongkai Wu',
  'Bob Wyman',
  'Jennifer Yu',
  'Dan Zaharia',
  'Aaron Zhang',
  'Wei Zhong',
  'Zhou Zhou',
  'Matthew Zito'],
 'recipients': ['Andrew Yang $14,264',
  'Raymond J McGuire $11,015',
  'Dianne Morales $3,964',
  'Kathryn A Garcia $3,290',
  'Maya D Wiley $2,189',
  'Scott M Stringer $2,130',
  'Shaun Donovan $660',
  'Eric L Adams $50']}

In [42]:
employer_donations_summary("Apple")

{'name': 'Apple',
 'sum': 10947.84,
 'donors': ['David Alexander',
  'Nicole Aptekar',
  'Alyse Archer-Coite',
  'Jacey Beaucage',
  'Jason Blevins',
  'Rebecca Bradshaw',
  'Lucy Chen',
  'Liana Ching',
  'Eric Chiu',
  'Francoise Cournoyer',
  'Ibrahim Darden',
  'Alberto De Leon',
  'Jamie DeGrazio',
  'Jason Deming',
  'Joseph Enriquez',
  'Gabriel Galang',
  'Bitsie Hefel',
  'Jamy Hickey',
  'Johnny Huang',
  'Lisa Jackson',
  'Kathryn Jefferson',
  'Jarius Jemmott',
  'Alexis Kaback',
  'Yvette Kang',
  'Lexi Kavanaugh',
  'David Kellough',
  'Ben Koning',
  'Jane Krakowski',
  'Michael LaPane',
  'Jason Leung',
  'kayma Liburd',
  'Christopher Lindor',
  'Marykate Macaluso',
  'Danya Martin',
  'Michael McCord',
  'Piyush Mittal',
  'Manuel Pena',
  'Shaun Phillips',
  'TJ Regno',
  'Valeria Restrepo',
  'Stephanie Rivera-Moss',
  'Oscar Rohena',
  'Karmen Starks',
  'Jeff Vacanti',
  'Mark Xue',
  'Xinying Yu',
  'Xuemei Zhang',
  'Xiaosong Zhou'],
 'recipients': ['Shaun Donovan $5,875',
  'Andrew Yang $1,788',
  'Maya D Wiley $1,580',
  'Dianne Morales $1,305',
  'Raymond J McGuire $250',
  'Eric L Adams $100',
  'Kathryn A Garcia $50']}